[submodule "protocol"]
	path = protocol
	url = https://github.com/raonygamer/Quartz-Protocol
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "vendor/libusb"]
	path = vendor/libusb
	url = https://github.com/libusb/libusb-cmake
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "vendor/ImGuiColorTextEdit"]
	path = vendor/ImGuiColorTextEdit
	url = https://github.com/goossens/ImGuiColorTextEdit
[submodule "vendor/zydis"]
	path = vendor/zydis
	url = https://github.com/zyantific/zydis
